1_block_attribution/miners_and_pools/miners_custom_color.json filter=lfs diff=lfs merge=lfs -text
dataset/all_pools_n_addresses.json filter=lfs diff=lfs merge=lfs -text
dataset/antpool_members.json filter=lfs diff=lfs merge=lfs -text
dataset/btc_com_members_dict.json filter=lfs diff=lfs merge=lfs -text
dataset/viabtc_members.json filter=lfs diff=lfs merge=lfs -text
dataset/all_pools_n_clusters.json filter=lfs diff=lfs merge=lfs -text
dataset/antpool_members_dict.json filter=lfs diff=lfs merge=lfs -text
dataset/btc_com_members_550000_554032.json filter=lfs diff=lfs merge=lfs -text
dataset/cluster_miners.json filter=lfs diff=lfs merge=lfs -text
dataset/viabtc_members_dict.json filter=lfs diff=lfs merge=lfs -text
dataset/cluster_tags_filtered.csv filter=lfs diff=lfs merge=lfs -text
dataset/mining_distribution_138_554399.json filter=lfs diff=lfs merge=lfs -text
dataset/address_cluster_filtered.csv filter=lfs diff=lfs merge=lfs -text
dataset/blocks_attribution_0-556400.json filter=lfs diff=lfs merge=lfs -text
dataset/btc_com_members_dict_550000_554032.json filter=lfs diff=lfs merge=lfs -text
dataset/btc_com_members.json filter=lfs diff=lfs merge=lfs -text
seedfile/pools_blockchain.info_2018-03-10.json filter=lfs diff=lfs merge=lfs -text
images/stackplot_periodLen_2016secs_end_554399_numPeriods_138_threshold_4.pdf filter=lfs diff=lfs merge=lfs -text
images/mining_distribution_138.pdf filter=lfs diff=lfs merge=lfs -text
images/payments_graph_400.pdf filter=lfs diff=lfs merge=lfs -text
images/pool_centralization.pdf filter=lfs diff=lfs merge=lfs -text
dataset/xkcd_colors.dict filter=lfs diff=lfs merge=lfs -text
dataset/cluster_to_miners_conflicts_0-556400.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_custom.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial.json filter=lfs diff=lfs merge=lfs -text
dataset/seedfile filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_btccom_conflicts.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_btccom.json filter=lfs diff=lfs merge=lfs -text
dataset/cluster_tags.csv filter=lfs diff=lfs merge=lfs -text
dataset/conflicts_0-556400.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_custom_color.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_blockchaininfo_conflicts.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_incl_blocktrail.json filter=lfs diff=lfs merge=lfs -text
dataset/miners.json filter=lfs diff=lfs merge=lfs -text
dataset/blocks_blocktrail_0-514240.json filter=lfs diff=lfs merge=lfs -text
dataset/btccom_2019-02-15.json filter=lfs diff=lfs merge=lfs -text
dataset/bitcoin_coinbases_and_headers_0-556400.csv filter=lfs diff=lfs merge=lfs -text
dataset/blockchain.info_2019-01-28.json filter=lfs diff=lfs merge=lfs -text
dataset/blocks_0-556400.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_blockchaininfo.json filter=lfs diff=lfs merge=lfs -text
dataset/miners_initial_conflicts.json filter=lfs diff=lfs merge=lfs -text
dataset/address_cluster.csv filter=lfs diff=lfs merge=lfs -text
dataset/address_conflicts_0-556400.json filter=lfs diff=lfs merge=lfs -text
